%h1 Listing recommends
%table
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @recommends.each do |recommend|
      %tr
        %td= link_to 'Show', recommend
        %td= link_to 'Edit', edit_recommend_path(recommend)
        %td= link_to 'Destroy', recommend, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Recommend', new_recommend_path
